aiohttp==3.6.3
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
discord.py==1.5.0
dnspython==2.0.0
idna==2.10
isort==5.6.4
lazy-object-proxy==1.5.1
lxml==4.5.2
mccabe==0.6.1
multidict==5.0.0
pkg-resources==0.0.0
pylint==2.6.0
pymongo==3.11.0
python-dotenv==0.14.0
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
speedtest-cli==2.1.2
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
uptime==3.0.1
urllib3==1.25.10
wrapt==1.12.1
yarl==1.6.2
